body {
margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
font-size: 11px; text-align: center;

}


.top-container {
  background-color: #e8eaeb;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;


}

.white-container{
  background: #91c5e6;
  margin: 0px 50px 0px 50px;

   padding-top: 50px;
   padding-bottom: 10px;


}

.white-container-01{
  background: #ffffff;
  width:200px;
  height: 320px;
  border-radius: 5%;
  margin: 0px 500px 50px 500px;

}

.image-qr{
  position: relative;
  width: 180px;
  height: 200px;
  border-radius: 8%;
  margin: 10px auto 5px auto;
}

p{
  font-size: 90%;
}
